body {
  font-family: 'Roboto', sans-serif !important;
  color: #222;
}

a {
  text-decoration: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  padding: 20px 0;
  margin: 0 auto;
  .h_container {
    display: flex;
    .header_logo {
      z-index: auto;
      .logo_img {
        width: 100px;
        height: auto;
      }
    }
  }
  .h_content {
    display: flex;
    .bbtn {
      border: 2px solid #0575e6;
      border-radius: 9999px;
      padding: 8px 10px;
      transition: all .2s;
      &:hover {
        background-color: #0575e6;
        color: #fff;
        transition: all .2s;
      }
    }
  }
}

.first_sec {
  display: flex;
  margin: 0 auto;
  max-width: 1260px;
  justify-content: center;
  padding: 70px 0;
  flex-direction: column;
  .f_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    .topt {
      font-weight: 900; 
      font-size: 48px;
    }
    .subtitle {
      font-weight: 300;
      font-size: 24px;
      text-align: center;
    }
  }
  .myprofile {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .mypro_img {
      width: 210px;
      height: auto;
    }
  }
  .bottom_area {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .devices_img {
      width: 60%;

    }
  }
}